/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Reapply the pointer cursor for anchor tags */
a {
  cursor: revert;
}
/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}
/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}
/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}
/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}
/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]){
  display:none;
}
/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}


/* ---------GENERAL STYLING--------- */
/* font-family: 'Fraunces', serif; */
/* font-family: 'Montserrat', sans-serif; */

:root {
  --color-darkcyan: hsl(158, 36%, 37%);
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);
  --color-darkblue: hsl(212, 21%, 14%);
  --color-grayblue: hsl(228, 12%, 48%);
}

body {
  background-color: var(--color-cream);
  overflow: hidden;
}

#product-img {
  border-radius: 1rem 1rem 0 0;
  display: block;
  height: 100%;
}

#product-img-desktop {
  display: none;
}

.images-container {
  height: 100%;
  overflow: hidden;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 630px;
  width: 350px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-info {
  background-color: var(--color-white);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 1rem 1rem;
  height: 100%;
}

.pi-p1, .pi-p2, .pi-p3 span {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-grayblue);
  margin: 0.5rem 0;
}

.pi-h1, .pi-p3 {
  font-family: 'Fraunces', serif;
  margin: 0.5rem 0;
}

.pi-p1 {
  letter-spacing: 0.3rem;
  font-size: 0.7rem;
  margin-top: 0;
}

.pi-h1 {
  line-height: 1;
  font-size: 2rem;
}

.pi-p2 {
  font-size: 0.9rem;
  line-height: 1.7;
}

.pi-p3 {
  font-size: 2rem;
  color: var(--color-darkcyan);
}

.small-price {
  font-size: 0.8rem;
  padding: 1rem;
  text-decoration: line-through;
}

.btn {
  background-color: var(--color-darkcyan);
  color: var(--color-white);
  padding: 0.2rem;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  align-self: center;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  border: 0;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(35, 79, 64);
}


@media screen and (min-width: 1440px) {
  
  .product-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 400px;
    overflow: hidden;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .images-container {
    width: 100%;
  }

  .product-info {
    border-radius: 0 1rem 1rem 0;
    width: 100%;
    height: 100%;
  }

  .pi-h1, .pi-p1, .pi-p2, .pi-p3 {
    margin: 0.7rem 0;
  }
  
  #product-img-desktop {
    border-radius: 1rem 0 0 1rem;
    display: block;
    width: 100%;
    height: 400px;
  }

  #product-img {
    display: none;
  }

}